* {
  margin: 0;
  padding: 0;
  font-size: 0;
  box-sizing: border-box;
}

.header{
    position: absolute;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.header_nav{
    width: 320px;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.header_nav_link{
    text-decoration: none;
    font-size: 13px;
    list-style: none;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}
.header_language{
    width: 45px;
    height: 20px;
    padding: 0px 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_language_item{
    font-size: 13px;
    list-style: none;
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.main_wrapper{
    padding: 40px 10px 0px;
    width: 100%;
    height: 445px;
    background-image: url(../../img/main_background.jpg);
    background-position: center;
    display: block;
}
.main_logo{
    display: block;
    margin: 0px auto 50px; 

}
.main_inner_wrapper{
    width: 350px;
    height: 210px;
  position: relative;
  text-align: center;
display: flex;
align-items: center;
}
.main_shadow{
    position: absolute;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    background-color: #000000;
   opacity: 0.4;
   top: 0px;
   left:0px;
    margin: 0px auto;
}
.main_text{
font-size: 17px;
font-weight: bold;
font-family: 'Myriad Pro', sans-serif;
color: #ffffff;
z-index: 100;

}
.bird{
    position: absolute;
    z-index: 1;
    top: -40px;
    left: -10px
}
.main_inner_wrapper::before{
    content: '';
    width: 12px;
    height: 67px;
    background-color: #ffcc00;
    z-index: 1;
    right: 12px;
    top: -20px;
    position: absolute;
}
.main_inner_wrapper::after{
    content: '';
    width: 12px;
    height: 67px;
    background-color: #ffcc00;
    z-index: 1;
    left: 12px;
    bottom: -20px;
    position: absolute;
}
.feeder_types{
    margin: 15px auto;
    padding: 0px 10px;
}
.feeder_types_title{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Myriad Pro', sans-serif;
    color: #ffcc00;
    text-align: center;

}
.feeder_types_text{
    font-size: 13px;
    font-family: 'Myriad Pro';
    font-weight: normal;
    margin: 5px 0px;
}
.feeder_out_wrapper, .feed, .giftSet, .photogallery, .prices{

    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    position: relative;
}
.feeder_header{
    width: inherit;
    height: 44px;
    background-color: #ffcc00;
    text-align: center;
}
.yellow_house_bird{
    position: absolute;
    width: 80px;
    top: -34px;
    left: 0px;
    z-index: 1;

}
.feeder_header_title{
    color: #000000;
line-height: 44px;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Myriad Pro', sans-serif;
}
.feeder_image{
    width: inherit;
    
}
.feeder_inner_wrapper{
    width: inherit;
  
    height: 180px;
    background-color: #6f6f6f;
    padding: 5px 13px;
}
.inner_wrapper1{
    margin-top: 15px;
}
.feeder_about, .feeder_sizes,.feeder_about_text, .feeder_sizes_text{
    font-size: 21px;
    font-weight: bold;
    font-family: 'Myriad Pro', sans-serif;
    color:#ffcc00;

}
.feeder_about_text, .feeder_sizes_text{
color: #ffffff;
}
.feeder_details, .buy_button{
    width: 175px;
    height: 38px;
    border-radius: 10px;
    background-image: linear-gradient(to top right, #ffd313 , #fffc91);
    border: none;
    outline: none;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Myriad Pro', sans-serif;
    color: #000000;
    line-height: 38px;
    text-align: center;
    display: block;
    margin: 30px auto;


}
.feeder_photo_bird{
    position: absolute;
    width: 70px;
    right: 0px;
    top: -45px;

}
.feeder_lodgy_bird{
    position: absolute;
    width: 75px;
    left: 0px;
    top: -36px;
}
.feeder_teremok_bird{
    position: absolute;
    width: 85px;
    right: 0px;
    top: -25px;
}
.feeder_flamingo_bird{
    position: absolute;
    width: 85px;
    left: 0px;
    bottom: 165px;
}
.feed_title, .giftset_title, .photogallery_title, .prices_title{
    font-size: 21px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: 'Myriad Pro', sans-serif;
    color:#ffcc00;
}
.out_wrapper{
    width: inherit;
    background-color: #ffcc00;
}
.feed_inner_title{
    font-size: 21px;
    text-align: center;
    font-weight: bold;
    font-family: 'Myriad Pro', sans-serif;
    line-height: 40px;
    
}
.feed{
    margin: 10px auto;
}
.feed_image_wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.feed_image_big{
    width: 100%;
}
.feed_image_small{
    margin: 15px 0px;
}
.feed_about{
    display: block;
    text-indent: 10px;
    font-size: 13px;
    line-height: 21px;
    margin: 15px 5px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: normal;
}

.giftSet_outWrapper{
    width: inherit;
    background-image: url(../../img/giftset_background.jpg);
    background-position: 20% 50%;
    height: 400px;
    padding: 1px 0px;
}
.giftSet_slider_wrapper{
    width: 100%;
    height: 260px;
    background-color: yellow;
    margin: 20px 0px;
    box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.4);
    position: relative;
}
.giftSet_slider_innerWrapper{
    width: inherit;
    height: 260px;
    position: relative;
    overflow: hidden;
}
.svg_arrow{
    width: 50px;
    opacity: 0;
    fill: #ffcc00;
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    box-shadow: 3px 11px 18px -5px rgba(0,0,0,0.75);
}
.giftSet_slider_wrapper:hover> .svg_arrow{
    opacity: 1;
    transition: 0.4s ease-in-out ;
    
}
.svg_rigthArrow{
    top: 60%;
    right: 15px;
}
.svg_leftArrow{
    top: 60%;
    left: 15px;
}
.svg_arrow:hover{
    transition: 0.2s;
    width: 60px;
    top: 59%;
 
}
.giftSet_slide{
    overflow: hidden;
    position: absolute;
    left: 0;
    transition: 1s ease-in-out;
    width: 100%;
    height: 100%;
}
.giftSet_price{
    margin: 30px auto 8px;
    width: 90px;
    display: block;
    font-size: 25px;
    color: #ff0000;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: bold;
}
.buy_button{
    margin: 0px auto;
}
.buy_button_link{
    font-size: 21px;
    text-decoration: none;
    color: #000000;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: bold;
}


.go_right{
    transition: 1s ease-in-out;
    left: 100%;
}
.go_left{
    transition: 1s ease-in-out;

    left: -100%;
}
.photogallery_wrapper{
    width: inherit;
    height: 375px;
    background-image: url(../../img/fotogallery_background.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.photogallery_arrow{
    width: 50px;
    fill: #ffcc00;
    position: absolute;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 50%;
    box-shadow: 3px 11px 18px -5px rgba(0,0,0,0.75);
}
.photogallery_rigthArrow{
bottom: 30px;
right: 60px;
transform: rotateZ(-35deg)
}
.photogallery_leftArrow{
    bottom: 30px;
    left: 60px;
    transform: rotateZ(35deg)
}
.photogallery_inner_wrapper{
    width: 100%;
    height: 285px;
    position: relative;
    margin: 0px auto;
    
}
.photogallery_item_1{
    transition: 1s ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 6;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) ;
    
    height: 180px;
}
.photogallery_item_2{
    transition: 1s ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 5;
    top:65px;
    left:0px;
    opacity: 0.8;
    width: 130px;
    max-height: 110px;
  
}
.photogallery_item_3{
    transition: 1s ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 4;
    top:38px;
    left:60px;
    opacity: 0.6;
    width: 130px;
}
.photogallery_item_4{
    transition: 1s ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    top:0px;
    left: 50%;
    transform: translateX(-50%) ;
    opacity: 0.6;
    width: 130px;
}
.photogallery_item_5{
    transition: 1s ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top:0px;
    left: 50%;
    transform: translateX(-50%) ;
    opacity: 0.6;
    width: 130px;
}
.photogallery_item_6{
    transition: 1s ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    top:0px;
    left: 50%;
    transform: translateX(-50%) ;
    opacity: 0.6;
    width: 130px;
}
.photogallery_item_7{
    transition: 1s ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 3;
    top:0px;
    left: 50%;
    transform: translateX(-50%) ;
    opacity: 0.6;
    width: 130px;
}
.photogallery_item_8{
        transition: 1s ease-in-out;
        position: absolute;
        overflow: hidden;
        z-index: 4;
        top:38px;
        right:60px;
        opacity: 0.6;
        width: 130px;
}
.photogallery_item_9{
    transition: 1s ease-in-out;
    position: absolute;
    overflow: hidden;
    z-index: 5;
    top:65px;
    right: 0px;
    opacity: 0.8;
    width: 130px;
}
.prices_table{
    width: 100%;
}